/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #fff;
}

/* Common styles */

.container{
    /* max-width: 1440px; */
    max-width: 90rem;
    margin: 0 auto;
}

.btn-primary{
    border-radius: .5rem;
    background: #FF900E;
    padding: 1.25rem 1.5rem;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    border:.1rem solid transparent;
}

section{
    margin: 4.5rem 0rem;
}

/* header section */

header{
    background: rgba(255, 144, 14, 0.10);
    color: #131313;
}

.header-content{
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* font-size: 45px; */
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-menu{
    display: flex;
    gap: 2rem;
}

.nav-menu a{
    color: #424242;
    text-align: center;
    /* font-size: 18px; */
    font-size: 1.125rem; 
    font-weight: 500;
    line-height: 1.625rem;
    text-decoration: none;
    background-color: aquamarine;
    padding: .5rem 1rem;
    border-radius: .4rem;
}

.nav-menu a:hover{
    color: white;
    background-color: dodgerblue;
}

.header-banner{
    /* margin-top: 116px; */
    margin-top: 7.25rem;
    text-align: center;
}

.header-info{
    margin: 0 auto;
    /* margin-bottom: 50px */
    /* max-width: 862px */
    margin-bottom: 3.125rem;
    max-width: 53.875rem;   
}

.header-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header-description{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1rem;
    color: #727272;
}

.header-info .btn-primary:hover{
    background: #fff;
    color: #FF900E;
    border: .1rem solid #FF900E;
}

.header-img img{
    width: 100%;
    height: 43.75rem;
}


/* features section */

.features-content{
    display: flex;
    align-items: center;
    gap: 4.375rem;
    margin: 0 4rem;
}


.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.features-img img{
    width: 21.375rem;
    height: 21.375rem;
}


.features-title{
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.features-title .quick_list{
    color: #727272;
    font-weight: 500;
}

.features-title .of_our{
    color: #131313;
}

.features-title .features{
    color: #FF900E;
}

.features-description{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
    color: #727272;
}

.features-info .btn-primary:hover{
    background: #fff;
    color: #FF900E;
    border: .1rem solid #FF900E; 
}


/* More Features Section */


.profile-content{
    display: flex;
    gap: 7rem;
    margin: 0 1rem;
}

.profile-info{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.profile-title{
    font-size: 2.813rem;
    font-weight: 700;
    border-left: .5rem solid #FF900E;
    padding-left: 1.313rem;
    margin-bottom: 1.5rem;
}

.profile-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 1.875rem;   
}

.features-item{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    padding: 1.875rem;
}

.features-item h4{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .625rem;
}

.features-item p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;   
}

.profile-img img{
    width: 44.25rem;
    height: 61.375rem;
    border-radius: .5rem;
}

.profile-img .btn-primary{
    width: 21.375rem;
    height: 12.5rem;
    color: #FFF;
    text-align: center;
    padding: 2.8rem 2.6rem;
    position: relative;
    left: -4rem;
    bottom: 7rem;
}

.ten_y{
    font-size: 4.063rem;
    font-weight: 700;
}

.experience{
    font-size: 1.563rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: 2.5rem; */
}


/* Facts Section */


.facts-content{
    padding-left: 1rem;
    padding-right: 1rem;
}


.facts-info{
    margin: 0 auto;
    text-align: center;
    width: 33.8rem;
    margin-bottom: 6.25rem;
}

.facts-title{
    font-size: 2.813rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.facts-items-all{
    display: flex;
    justify-content: space-around;
}

.facts-item{
    text-align: center;
    border: .1rem solid #FF900E;
    border-radius: .5rem;
    width: 15rem;
    height: 15rem;
    transition: color .3s ease-in-out,box-shadow .3s ease-in-out;
}

.facts-item img{
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 2.8rem;
}

.facts-item h4{
    font-size: 2.8rem;
    font-weight: 600;
}

.facts-item p{
    font-size: 1.25rem;
    font-weight: 600;
    /* color: #727272; */
}

.facts-item:hover{
    box-shadow: inset 15rem 0 0 0 #54b3d6;
    color: white;
}


/* Sponsors Section */


.sponsors-content{
    margin-top: 6.875rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.sponsors-info{
    max-width: 35rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.25rem;
}

.sponsors-title{
    font-size: 2.813rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.sponsors-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.sponsors-items-all{
    display: flex;
    justify-content: space-between;
}

.sponsors-item img{
    width: 10.375rem;
    height: 3.125rem;
}



/* Footer Section */

footer{
    margin-bottom: 13.5rem;
}

.footer-content{
    background-color: #fff4e7;
    border-radius: .5rem;
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: #424242;
}


/* Mobile Responsive Design */

@media only screen and (max-width: 35rem) {
    body{
        background-color: aqua;
    }

    /* header section */

    .nav-bar{
        flex-direction: column;
    }

    .logo{
        margin-bottom: 1rem;
    }

    .nav-menu{
        flex-direction: column;
    }

    .header-img img{
        height: 100%;
    }

    /* features section */

    .features-content{
        flex-direction: column;
    }

    .features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    /* More Features Section */

    .profile-content{
        flex-direction: column;
        gap: 1rem;
    }

    .profile-img img{
        width: 100%;
        height: 100%;
    }

    .profile-img .btn-primary{
        position: relative;
        left: 5rem;
        bottom: -1.5rem;
    }

    /* Facts Section */

    .facts-content{
        margin-top: 7rem;
    }

    .facts-info{
        width: 100%;
    }

    .facts-items-all{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* Sponsors Section */

    .sponsors-items-all{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
   
    /* Footer Section */

    .footer-content{
        padding: 1rem;
        text-align: center;
        margin: .5rem;
    }
}




















